<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listagem de Repositórios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listagem de Repositórios</ion-title>
    </ion-toolbar>
  </ion-header>

  <div
    *ngIf="repos"
    style="height: 100vh; display: flex; flex-flow: column; justify-content: flex-start; align-items: center;"
  >
    <div style="width: 24rem;">
      <div
        *ngFor="let repo of repos"
        style="margin-top: .5rem; margin-bottom: .5rem; display: flex; flex-flow: column; align-items: flex-start; justify-content: space-between; background-color: white; border-radius: .25rem; padding: .5rem; height: 4rem; color: black;"
      >
        <span style="width: 100%; overflow: hidden; text-overflow: ellipsis;">
          {{ repo.name }}
        </span>
        <div style="width: 100%; display: flex; justify-content: space-around; margin-top: .125rem; color: darkslategrey;">
          <div style="display: flex; gap: .25rem; justify-content: center; align-items: center;">
            <ion-icon name="star-outline" />{{ repo.stargazers_count }}
          </div>
          <div style="display: flex; gap: .25rem; justify-content: center; align-items: center;">
            <ion-icon name="eye-outline" />{{ repo.watchers_count }}
          </div>
          <div style="display: flex; gap: .25rem; justify-content: center; align-items: center;">
            <ion-icon name="git-branch-outline" />{{ repo.forks_count }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
