<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listagem de <span style="text-transform: capitalize">{{ type }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listagem de <span style="text-transform: capitalize">{{ type }}</span></ion-title>
    </ion-toolbar>
  </ion-header>

  <div
    *ngIf="users"
    style="height: 100%; display: flex; flex-flow: column; justify-content: flex-start; align-items: center;"
  >
    <div style="width: 24rem; height:100vh; overflow-y: scroll;">
      <div
        *ngFor="let user of users"
        style="width: 24rem; display: flex; justify-content: flex-start; align-items: center; margin-top: .5rem; margin-bottom: .5rem; background-color: white; border-radius: .25rem; padding: .5rem;"
      >
        <a
          [routerLink]="['/repos', user.login]"
          style="width: 100%; display: flex; justify-content: space-between; align-items: center; text-decoration: none;"
        >
          <div style="display: flex; justify-content: center; align-items: center; gap: .5rem;">
            <div style="aspect-ratio: 1 / 1; position: relative; display: flex; height: 4rem; min-width: 4rem; border-radius: 100%; justify-content: center; align-items: center; overflow: hidden; width: fit-content; box-shadow: 0 0 0 .125rem royalblue;">
              <div style="position: relative; height: 100%; width: 100%; border-radius: 100%;">
                <img
                  [alt]="user.name"
                  style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
                  [src]="user.avatar_url"
                >
              </div>
            </div>

            <div style="display: flex; justify-content: center; align-items: flex-start; flex-flow: column;">
              <span style="color: black; font-weight: 700;">
                {{ user.login }}
              </span>
            </div>
          </div>

          <ion-icon
            name="chevron-forward-outline"
            style="color: black"
          />
        </a>
      </div>
    </div>
  </div>
</ion-content>
