<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button/>
    </ion-buttons>
    <ion-title>api.github App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bem-vindo ao api.github App!
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header [routerLink]="['/user']">
          <ion-card-title>
            <ion-icon
              name="people-circle"
              class="ion-float-left ion-margin-end"
            />
            Usuário
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
